@font-face {
  font-family: 'hl';
  src: url('../fonts/hl/HacenLinerScreen.eot');
  src: url('../fonts/hl/HacenLinerScreen.eot') format('embedded-opentype'),
  url('../fonts/hl/HacenLinerScreen.woff') format('woff'),
  url('../fonts/hl/HacenLinerScreen.ttf') format('truetype'),
  url('../fonts/hl/HacenLinerScreen.svg#HacenLinerScreen') format('svg');
  font-weight:400;
}

@font-face {
  font-family: 'hl';
  src: url('../fonts/hl/HacenLinerScreenBd.eot');
  src: url('../fonts/hl/HacenLinerScreenBd.eot') format('embedded-opentype'),
  url('../fonts/hl/HacenLinerScreenBd.woff') format('woff'),
  url('../fonts/hl/HacenLinerScreenBd.ttf') format('truetype'),
  url('../fonts/hl/HacenLinerScreenBd.svg#HacenLinerScreenBd') format('svg');
  font-weight:700;
}


/*
 * Droid Arabic Kufi (Arabic) http://www.google.com/fonts/earlyaccess
 */
 @font-face {
  font-family: 'Droid Arabic Kufi';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/kufi/DroidKufi-Regular.eot);
  src: url(../fonts/kufi/DroidKufi-Regular.eot?#iefix) format('embedded-opentype'),
  url(../fonts/kufi/DroidKufi-Regular.woff2) format('woff2'),
  url(../fonts/kufi/DroidKufi-Regular.woff) format('woff'),
  url(../fonts/kufi/DroidKufi-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Droid Arabic Kufi';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/kufi/DroidKufi-Bold.eot);
  src: url(../fonts/kufi/DroidKufi-Bold.eot?#iefix) format('embedded-opentype'),
  url(../fonts/kufi/DroidKufi-Bold.woff2) format('woff2'),
  url(../fonts/kufi/DroidKufi-Bold.woff) format('woff'),
  url(../fonts/kufi/DroidKufi-Bold.ttf) format('truetype');
}
@font-face{
  font-family:'GEFLOW';
  src:url(../fonts/geflow/GE_FLOW_BOLD.eot);
  src:url(../fonts/geflow/GE_FLOW_BOLD.eot?#iefix) format("embedded-opentype"),
  url(../fonts/geflow/GE_FLOW_BOLD.woff) format("woff"),url(font/GE_FLOW_BOLD.ttf) format("truetype"),
  url(../fonts/geflow/GE_FLOW_BOLD.svg#GE_FLOW_BOLD) format("svg");
  font-weight:400!important;
  font-style:normal
}


/*Regular*/
@font-face {
  font-family: 'STV Regular';
  src: url('../fonts/stv_font/Regular/STV Regular.eot');
  src: url('../fonts/stv_font/Regular/STV Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/stv_font/Regular/STV Regular.woff2') format('woff2'),
  url('../fonts/stv_font/Regular/STV.woff') format('woff'),
  url('../fonts/stv_font/Regular/STV.svg#STV') format('svg');
  font-weight: normal;
  font-style: normal;
}
/*Bold*/
@font-face {
  font-family: 'STV Bold';
  src: url('../fonts/stv_font/Bold/STV-Bold.eot');
  src: url('../fonts/stv_font/Bold/STV-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/stv_font/Bold/STV-Bold.woff2') format('woff2'),
  url('../fonts/stv_font/Bold/STV-Bold.woff') format('woff'),
  url('../fonts/stv_font/Bold/STV-Bold.svg#STV') format('svg');
  font-weight: bold;
  font-style: normal;
}
/*Light*/
@font-face {
  font-family: 'STV light';
  src: url('../fonts/stv_font/Light/STV-Light.eot');
  src: url('../fonts/stv_font/Light/STV-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/stv_font/Light/STV-Light.woff2') format('woff2'),
  url('../fonts/stv_font/Light/STV-Light.woff') format('woff'),
  url('../fonts/stv_font/Light/STV-Light.svg#STV') format('svg');
  font-weight: 100;
  font-style: normal;
}
h1{font-size: 25px;}h2{font-size: 24px;}h3{font-size: 22px;}
h4{font-size: 20px;}h5{font-size: 18px;}h6{font-size: 16px;}
p{font-size: 14px;}
a{font-size: 14px;text-decoration: none !important;color: #79a700;}
body{
 color: #000;
 font-family: 'hl'; 
 overflow-x: hidden;
}
/* Let's get this party started */
.flexcroll::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.flexcroll::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  /*  -webkit-border-radius: 10px;
  border-radius: 10px;*/
}

/* Handle */
.flexcroll::-webkit-scrollbar-thumb {
   /* -webkit-border-radius: 10px;
   border-radius: 10px;*/
   background: rgba(0,191,255,0.8); 
   -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
 }
 /* start bottom button*/

 .bottom-button #to-top {
   position: fixed;
   z-index: 1;
   right: .2%;
   bottom: .2%;
   z-index: 799;
   background-color: #ffb61e;
 /* border-radius: 50%; */}
 .bottom-button #to-top i{
  color: #fff;
  font-size: 18px;
}
.bottom-button .btn.btn-lg {
  padding: 5px 5px;
}
.bottom-button .btn-inverse {
  background-color: #222;
  border-color: #080808;
  color: #9d9d9d;
}
.bottom-button .btn {
  border-radius: 0px;
  overflow: hidden;
  border: none;
}

/**********************/
.text-white{
  color: #fff;
}
.gray-color{
  color:#484848;
}
.green-color{
  color:green;

}
.background-white{
  background-color: #fff;
}
.no-padding{
  padding: 0 !important;
}
.padding-4{
  padding-left: 4px;
  padding-right: 4px;
}
.ptop-5{
  padding-top: 5px;
}
.ptop-10{
  padding-top: 10px;
}
.ptop-20{
  padding-top: 20px;
}
.ptop-30{
  padding-top: 30px;
}
.ptop-40{
  padding-top: 40px;
}
.ptop-50{
  padding-top: 50px;
}
.pbottom-5{
  padding-bottom: 5px;
}
.pbottom-10{
  padding-bottom: 10px;
}
.pbottom-20{
  padding-bottom: 20px;
}
.pbottom-30{
  padding-bottom: 30px;
}
.pbottom-40{
  padding-bottom: 40px;
}
.pbottom-50{
  padding-bottom: 50px;
}
.pleft-5{
  padding-left: 5px;
}
.pleft-10{
  padding-left: 10px;
}
.pleft-20{
  padding-left: 20px;
}
.pright-5{
  padding-right: 5px;
}
.pright-10{
  padding-right: 10px;
}
.pright-20{
  padding-right: 20px;
}


.mtop-5{
  margin-top: 5px;
}
.mtop-10{
  margin-top: 10px;
}
.mtop-20{
  margin-top: 20px;
}
.mtop-30{
  margin-top: 30px;
}
.mtop-40{
  margin-top: 40px;
}
.mtop-50{
  margin-top: 50px;
}
.mbottom-5{
  margin-bottom: 5px;
}
.mbottom-10{
  margin-bottom: 10px;
}
.mbottom-20{
  margin-bottom: 20px;
}
.mbottom-30{
  margin-bottom: 30px;
}
.mbottom-40{
  margin-bottom: 40px;
}
.mbottom-50{
  margin-bottom: 50px;
}
.mleft-5{
  margin-left: 5px;
}
.mleft-10{
  margin-left: 10px;
}
.mleft-20{
  margin-left: 20px;
}
.mright-5{
  margin-right: 5px;
}
.mright-10{
  margin-right: 10px;
}
.mright-20{
  margin-right: 20px;
}
.btn-white-round{
  background-color: #fff;
  color: #95c11f;
  border-radius: 20px;
  padding: 7px 10px;
  border:1px solid #95c11f;
}
.btn-green-circled{
  background-color: #95c11f;
  color: #fff;
  border-radius: 20px;
  padding: 7px 30px !important;
  text-shadow: none;
  border:1px solid #95c11f;
}
.ft-20{
  font-size: 20px;
}
.ft-18{
  font-size: 18px;
}
.ft-16{
  font-size: 16px;
}
.ft-14{
  font-size: 14px;
}

.container-fluid {
  padding-right: 30px;
  padding-left: 30px;
}
/******************************/
/******************************/
/* header */ 

.mheader .navbar{
  margin-bottom: 0;
  background-color: #fff;
  background-image: none;
  padding: 8px 0;
}
.mheader .navbar-brand img{
  height: 60px;
  width: auto;

}
.navbar-brand{
  height: auto;
  padding: 5px;
}
.mheader .navbar-default .navbar-nav>li>a {
  color: #777;
  font-size: 16px;
}
.mheader .navbar-default .navbar-nav>.active>a, 
.mheader .navbar-default .navbar-nav>.active>a:hover, 
.mheader .navbar-default .navbar-nav>.active>a:focus {
  color: #555;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
@media (min-width: 768px){
  .mheader .navbar-nav {
    margin-top: 10px;
  }
}
.mheader .navbar-default ul.nav > li > a.signin {
  background: #07b107 !important;
  padding: 8px 30px;
  margin-left: 5px;
  color: #ffffff !important;
  border-radius: 7px;
}
.mheader .navbar-default ul.nav > li > a.signout{
  background: #ff2a63 !important;
  padding: 8px 30px;
  margin-left: 5px;
  color: #ffffff !important;
  border-radius: 7px;
}
.header-pic img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #eee;
}

/******************************/
/******************************/
/* startup */
.startup{
  background-image: url(../img/startup.png);
  padding: 50px;
  background-size: 100% 100%;
  background-position: center;
}
.startup .box{
  margin: auto;
  width: 300px;
  background-color: #fff;
}
.startup .box:hover {
    box-shadow: #bfbfbf -1px 1px, #bfbfbf -2px 2px, #bfbfbf -3px 3px, #bfbfbf -4px 4px, #bfbfbf -5px 5px, #bfbfbf -6px 6px;
    transform: translate3d(6px, -6px, 0);
    transition-delay: 0s;
    transition-duration: 0.4s;
    transition-property: all;
    transition-timing-function: line;
}

.startup .box img{
  width: 100%;
}
.startup .box .box-footer{
  padding: 2px 0px;
  background-color: #2784fc;
  color: #fff;
}
.startup .box .box-footer a{
 color: #fff;
}
.startup .box .box-footer.bg-green{
 background-color: #07b107;
}



.under-box{
 color: #fff;
}

/******************************/
/******************************/
/* startup */
.modal-sign .modal-content {
  padding: 0px 0px 35px 00px;
}
.modal-sign .modal-body {
  position: relative;
  padding: 0px;
}
.modal-sign .modal-body .tab .nav-tabs {
  padding: 0;
  margin-top: 0;
}
.modal-sign .tab .nav-tabs {
  background: #ffffff;
  padding: 5px 0;
}
.modal-sign .modal-body .nav-tabs>li {
  display: inline-block;
  margin-right: 0;
  float: right;
  margin-bottom: -1px;
  width: 50%;
  text-align: center;
}
.modal-sign .modal-body .nav>li>a {
  position: relative;
  display: block;
  color: #95a2a7;
  padding: 18px 15px;
  background: #35434e;
  border-radius: 0;
  margin: 0;
  border: 0;
  font-size: 18px;
}

.modal-sign .tab .nav-tabs li.active a,
.modal-sign .tab .nav-tabs li.active a:hover {
  background: #2784fc;
  text-transform: uppercase;
  color: #ffffff;
}
.modal-sign.modal-company .tab .nav-tabs li.active a,
.modal-sign.modal-company .tab .nav-tabs li.active a:hover {
  background: #07b107;
  color: #ffffff;
}

.modal-sign .tab .tab-content {
  font-size: 14px;
  color: #707c88;
  line-height: 30px;
  background: #ffffff;
  padding: 2em 0 3em 0;
}

.modal-sign .tab-pane img {
  margin: 1em auto 2em auto;
  display: block;
  max-width: 70%;
}
.modal-sign form {
  display: inline-block;
  width: 100%;
}
.modal-sign .modal-body .form-group {
  width: 100%;
}
.modal-sign .form-control {
  height: 52px;
  padding: 0 15px;
  border: 1px solid #d7dfea;
  color: #727272;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 12px;
  font-size: 15px;
  border-radius: 2px;
  box-shadow: none;
}
.modal-sign .center {
  text-align: center;
}
.modal-sign .submit-btn {
  border: 1px dashed #2784fc;
  padding: 14px 0;
  width: 240px;
  text-transform: uppercase;
  color: #ffffff;
  border-radius: 1px;
  font-size: 18px;
  transition: ease-in-out 0.6s;
  display: inline-block;
  margin-top: 1em;
  background: #2784fc;
}
.modal-sign.modal-company .submit-btn {
  background: #07b107;
  border: 1px dashed #07b107;
}

.wrapper-social-login .line-header {
  text-align: center;
  width: 100% !important;
  margin-bottom: 30px;
  margin-top: 10px;
  position: relative;
  z-index: 1;
}
.wrapper-social-login .line-header:before {
  z-index: -1;
  content: '';
  position: absolute;
  top: 50%;
  width: 100%;
  height: 1px;
  left: 0;
  background: #e6e8ef;
}
.wrapper-social-login .line-header span {
  line-height: 40px;
  min-width: 40px;
  padding: 0 5px;
  text-align: center;
  display: inline-block;
  background: #fff;
  border: 1px solid #eaeff5;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  text-transform: uppercase;
}
.wrapper-social-login .inner-social {
  clear: both;
  overflow: hidden;
  margin-left: -15px;
  margin-right: -15px;
}
.wrapper-social-login .inner-social > div {
  width: 50%;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 20px;
}

.wrapper-social-login a {
  display: inline-block;
  width: 100%;
  text-align: center;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  padding: 12px 15px;
  font-size: 16px;
  font-weight: 500;
  position: relative;
  border: 2px solid #eaeff5;
  text-transform: capitalize;
  background-color: transparent;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.wrapper-social-login a i {
  margin-left: 10px;
}
.wrapper-social-login .facebook-login-btn {
  color: #3b5998;
  border-color: #3b5998;
}
.wrapper-social-login .google-login-btn {
  color: #dc4d28;
  border-color: #dc4d28;
}
.wrapper-social-login .google-login-btn:focus, 
.wrapper-social-login .google-login-btn:hover {
  color: #fff;
  background-color: #dc4d28;
}
.wrapper-social-login .facebook-login-btn:focus, 
.wrapper-social-login .facebook-login-btn:hover {
  color: #fff;
  background-color: #3b5998;
}

/* ==========================================================================
    Footer Part Style Settings
    ========================================================================== */
    .footer{
      background:#1c2733;
      padding:0.5em 0 0 0;
      z-index:-1;
    }
    .footer.light-footer{
      background:#ffffff;
    }
    footer .row.no-padding{
      margin:0px 10px;
    }
    .footer-widget {
      padding:1.5em 0em 2em 0em;
    }
    .lg-menu{
      border-bottom:1px solid #344456;
      padding:  0;
      margin:0; 
    }
    .lg-menu img{
      height: 50px
    }
    .light-footer .lg-menu {
      border-bottom: 1px solid #e5ebf1;
    }
    .lg-menu ul{
      margin:0;
      padding:0;
      float:right; 
      margin-top: 13px; 
    }
    .lg-menu ul li{
      display:inline-block;
      list-style:none;
      padding-left:20px;
    }
    .lg-menu ul li a{
      text-transform:uppercase;
      color:#96a4b3;
    }

    .lg-menu ul li a:hover, .lg-menu ul li a:focus{
      text-decoration:none;
      color:#11b719;
    }
    .widgettitle.widget-title {
      font-weight: 500;
      text-transform:capitalize;
      margin-bottom:5px;
      font-size:18px;
      color:#ffffff;
    }
    .light-footer .widgettitle.widget-title {
      color:#272d3c;
    }
    .textwidget {
      color:#96a4b3;
      opacity: 1;
      font-size: 14px;
      font-weight: 400;
      line-height: 1.8;
    }
    .textwidget a {
      color:#96a4b3;
    }
    .textwidget p {
      margin-bottom: 10px;
      color:#96a4b3;
    }
    ul.footer-navigation {
      margin: 0;
      padding: 0;
    }
    ul.footer-navigation li {
      padding:3px 0;
      line-height: 2.2;
      list-style: none;
    }
    .light-footer .lg-menu ul li a,
    .light-footer .textwidget a,
    .textwidget p {
      color:#e0e0e0;
    }
/*------------------------------------
Footer Social Media
------------------------------------------*/
.footer-social{
  text-align:left;
  padding:0;
  margin:0;
  margin-bottom:25px;
}
.footer-social li{
  list-style:none;
  display:inline-block;
  padding-left: 7px;
  margin-bottom:10px;
}
.footer-social li a {
  color:#446d82;
  font-size: 15px;
  letter-spacing: 0.5px;
}

.footer-social li a i{
  width: 40px;
  height: 40px;
  border-radius:2px;
  line-height: 40px;
  background: #243140;
  text-align: center;
  color: #5f738a;
  box-shadow: 0px 0px 10px 0px rgba(53, 67, 78,0.10);
}

.footer-social li a:hover i{
  background:#11b719;
  color:#ffffff;
}
.light-footer .footer-social li a i {
  background: #e8ecf1;
}
/*-----------------------------------
Footer Contact Form Style
--------------------------------------------*/
.footer-form .form-control{
  margin-bottom:7px;
  width:100%;
  height:42px;
  border-radius:2px;
  background: #263444;
  border-color: #324356;
  color:#748898;
}
.footer-form textarea.form-control{
  height:70px;
}
.footer-form .btn-primary{
  background:#11b719;
  border-radius:2px;
  color:#ffffff;
  padding:10px 40px;
  border-color:#10c110; 
}
.footer-form .btn-primary:hover, .footer-form .btn-primary:focus{
  border-color:#10c110;
  background:#11b719;
}

.light-footer .footer-form .form-control {
  background: #f8fafd;
  border-color: #eef1f5;
  color: #748898;
}
/*---------------------------------------------
Footer Copyright Style
-----------------------------------------------*/
.row.copyright{
  padding:1.4em 0 0 0;
  background:#111922; 
  text-align:center;
  margin:0;
}
.copyright p {
  font-size: 15px;
  letter-spacing: 0.5px;
  color:#96a4b3;
  text-align: center;
  padding: 1em 0;
  display: inline-block;
}
.copyright a{
  text-decoration:none;
  color:#11b719;
}
.light-footer .row.copyright {
  background: #f0f2f5;
}
.light-footer .copyright p {
  color:#54667a;
}
.light-footer .copyright a{
  color:#11b719;
}
/******************************/
/******************************/
/* company details */
.inner-header-title {
  padding: 0em 0;
  text-align: center;
  color: #ffffff;
  overflow: visible;
  position: relative;
  border-bottom: 4px solid #11b719;
  background-size: cover;
  min-height: 250px;
      background-position: center;
    background: fixed;
}
.inner-header-title:before {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: block;
  background: #242d3e;
  opacity: 0.3;
}
.inner-header-title {
  border-bottom: 4px solid #07b107;
}
.inner-header-title h1 {
  position: relative;
  font-weight: 600;
  color: #ffffff;
}
@media only screen and (min-width: 1200px){
  .inner-header-title h1 {
    font-size: 60px;
  }
}
@media only screen and (min-width: 1024px){
  .inner-header-title h1 {
    font-size: 45px;
    margin: 1em 0;
  }
}
.detail-desc {
  padding: 0;
  overflow: visible;
}
.ur-detail-wrap.create-kit, .ur-detail-wrap.top-lay {
  border-bottom: 3px solid #07b107;
}
.ur-detail-wrap.create-kit {
  -webkit-transform: translateY(-80px);
  -o-transform: translateY(-80px);
  transform: translateY(-80px);
  background: #ffffff;
  padding: 0 2em;
  border-radius: 6px;
  border-bottom: 3px solid #11b719;
  box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.1);
}
.ur-detail-wrap.top-lay {
  width: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  padding: 2.5em 2em;
  border-radius: 6px;
  -webkit-transform: translateY(-80px);
  -o-transform: translateY(-80px);
  transform: translateY(-80px);
  background: #ffffff;
  border-bottom: 3px solid #11b719;
  box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.1);
}
.ur-detail-box {
  display: flex;
  align-items: center;
  flex: 1;
}
.ur-thumb {
  width: 140px;
  height: 140px;
  border-radius: 6px;
  border: 4px solid #e3e9ef;
  display: flex;
  align-items: center;
  margin-left: 15px;
}
.ur-title {
  margin-bottom: 3px;
}
.ur-location {
  margin-bottom: 5px;
}
html body .mrg-r-5 {
  margin-right: 5px !important;
}
.rateing i {
  color: #d4d5dc;
}
html body .full-width {
  width: 100%;
}
html body .mrg-bot-10 {
  margin-bottom: 10px !important;
}
.btn-warning {
  background: #f39c12;
  border-color: #f39c12;
  color: #fff;
}


section.full-detail {
  padding: 0em 0 3em 0;
}
.row-bottom {
  margin-bottom: 40px !important;
}
h2.detail-title {
  font-size: 18px;
  background: #f5f6f7;
  padding: 8px 20px;
  margin-bottom: 16px;
  line-height: 1.6;
  border-radius: 2px;
  color: #35434e;
  border-right: 3px solid #11b719;
}
h2.detail-title {
  border-right: 3px solid #07b107;
}
.rateing i.filled {
  color: #ff9b20;
}
.full-detail-description p {
  margin-bottom: 20px;
  line-height: 1.9;
  font-size: 17px;
  padding: 0 20px;
}
html body .mrg-bot-15 {
  margin-bottom: 15px !important;
}
@media only screen and (min-width: 768px){
  .extra-mrg {
    padding: 0;
    margin-left: -15px;
    margin-right: -15px;
  }
}
.grid-view.brows-job-list {
  position: relative;
  text-align: center;
  padding-bottom: 0;
  margin-top: 30px;
  display: table;
}
.brows-job-list {
  display: flex;
  width: 100%;
  clear: both;
  padding: 15px 0;
  transition: .4s;
  margin-top: 25px;
  border: 1px solid rgba(88,136,247,0.1);
  background: #ffffff;
  border-radius: 6px;
  box-shadow: 0px 0px 10px 0px rgba(88,96,109,0.14);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(88,96,109,0.14);
  -moz-box-shadow: 0px 0px 10px 0px rgba(88,96,109,0.14);
  align-items: center;
}
.grid-view .brows-job-company-img {
  width: 80px;
  margin: 10px auto;
  height: 80px;
  display: flex;
  border: 1px solid #e4e4e4;
  background: #fff;
  align-items: center;
  border-radius: 50%;
  line-height: 80px;
}
.grid-view .brows-job-company-img img {
  margin: 0 auto;
  vertical-align: middle;
  display: inline-block;
  max-width: 50px;
  line-height: 50px;
}
.brows-job-position {
  padding: 0 15px 15px;
}
.brows-job-position h3 {
  font-size: 20px;
  padding: 0;
  margin-bottom: 5px;
  line-height: 1.4;
}
.full-detail-description p {
  margin-bottom: 20px;
  line-height: 1.9;
  font-size: 17px;
  padding: 0 20px;
}
span.job-num {
  padding: 5px 10px;
  border-radius: 4px;
  text-transform: capitalize;
  color: #8da2b3;
  background: #f3f6fb;
}
.grid-view .brows-job-type span {
  position: absolute;
  padding: 4px 15px;
  top: 10px;
  right: 0;
  line-height: 1.4;
  font-size: 12px;
  border-radius: 2px 0 0 2px;
}
.full-time {
  background: rgba(3, 165, 4,0.1);
  color: #03a504;
}
.grid-view-caption {
  margin: 2.5em 0 0 0;
  padding: 0;
  border-top: 1px solid #eaeff5;
  display: flex;
  width: 100%;
}
.grid-view-caption li {
  display: inline-block;
  float: left;
  width: 50%;
  padding: 10px 0;
  line-height: 2.2;
}
.grid-view-caption li p{
  margin-bottom: 0
}
.grid-view-caption .brows-job-location {
  margin-top: 0px;
}
.full-detail-description p {
  margin-bottom: 20px;
  line-height: 1.9;
  font-size: 17px;
  padding: 0 20px;
}
.grid-view-caption .brows-job-location p, 
.grid-view-caption .brows-job-sallery {
  font-size: 14px;
  margin-bottom: 0;
  color: #828fa2;
}
.grid-view-caption .brows-job-location p i,
.grid-view-caption .brows-job-sallery i{
  margin-left: 5px;
}
.grid-view-caption li:first-child {
  border-left: 1px solid #eaeff5;
}
.tg-themetag {
  top: 7px;
  left: -5px;
  z-index: 2;
  color: #fff;
  font-size: 10px;
  font-weight: 500;
  line-height: 10px;
  position: absolute;
  background: #ff526c;
  padding: 5px 3px 3px 10px;
  text-transform: uppercase;
}
.tg-featuretag:before {
  top: 0;
  left: 100%;
  border-top: 9px solid transparent;
  border-bottom: 9px solid transparent;
  border-left: 10px solid #ff526c;
}
.tg-themetag {
  top: 7px;
  left: -5px;
  z-index: 2;
  color: #fff;
  font-size: 10px;
  font-weight: 500;
  line-height: 10px;
  position: absolute;
  background: #ff526c;
  padding: 5px 3px 3px 10px;
  text-transform: uppercase;
}
.part-time {
  background: rgba(246, 147, 30,0.1);
  color: #f6931e;
}
.freelanc {
  background: rgba(38, 169, 225,0.1);
  color: #26a9e1;
}
.enternship {
  background: rgba(210, 0, 1,0.1);
  color: #d20001;
}
/************/
.sidebar-widgets {
  margin-bottom: 30px;
}
.ur-detail-wrap {
  width: 100%;
  display: block;
  position: relative;
  justify-content: center;
  align-items: center;
  padding: 0 2em 2.5em 2em;
  border-radius: 6px;
  background: #ffffff;
  box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.1);
}
.ur-detail-wrap-header {
  padding: 18px 0 10px 0;
  border-bottom: 1px solid #e0dfe6;
  margin-bottom: 1.5em;
}
ul.ove-detail-list {
  margin: 0;
  padding: 0;
}
ul.ove-detail-list li {
    display: inline-block;
    width: 100%;
  list-style: none;
  margin-bottom: 1.5em;
  padding: 0;
}
ul.working-days li.active,
ul.working-days li.active span {
  color: #2ab762;
}
ul.working-days li.close-day,
ul.working-days li.close-day span {
  color: #d43a3a;
}
ul.ove-detail-list li i {
  font-size: 30px;
  float: right;
  margin-left: 10px;
  color: #a4abb5;
  width: 50px;
  height: 60px;
  text-align: center;
}
ul.ove-detail-list li h5 {
  margin-bottom: 2px;
}
ul.working-days {
  padding: 0;
  margin: 0;
}
ul.working-days li {
  display: block;
  list-style: none;
  padding: 12px 0;
  border-bottom: 1px dashed #dfe3e8;
}
ul.working-days li span {
  float: left;
  color: #82858e;
  font-size: 13px;
}


ul.follow-links, ul.advance-list {
  padding: 0;
  margin: 0;
}
ul.follow-links li,
ul.advance-list li {
  display: block;
  list-style: none;
  padding: 12px 0;
  border-bottom: 1px dashed #dfe3e8;
}
ul.follow-links li i {
  margin-right: 7px;
}
/******************************/
/******************************/
/* profile details */
section.gray-bg {
  background: #f5f6f7;
}

.detail-pic {
  display: block;
  width: 140px;
  background: #ffffff;
  border: 1px solid #11b719;
  height: 140px;
  border-radius: 50%;
  margin: 0;
  padding: 9px;
  margin: 0 auto;
  position: relative;
  -webkit-transform: translateY(-50px);
  -o-transform: translateY(-50px);
  transform: translateY(-50px);
}
.detail-pic {
  border: 1px solid #07b107;
}
.detail-pic img {
  width: 120px;
  height: 120px;
  margin: auto;
  border-radius: 50%;
}
a.detail-edit {
  position: absolute;
  left: 44%;
  bottom: -12px;
}
a.detail-edit i {
  width: 30px;
  height: 30px;
  position: relative;
  background: #11b719;
  border-radius: 50%;
  line-height: 30px;
  text-align: center;
  color: #ffffff;
}
.detail-status {
  position: absolute;
  right: 15px;
  top: 15px;
}
.detail-status span {
  color: #11b719;
  background: rgba(7, 177, 7,0.2);
  font-family: 'Montserrat', sans-serif;
  text-transform: capitalize;
  padding: 5px 25px;
  border-radius: 2px;
}
.bottom-mrg {
  margin-bottom: 3em;
}
.advance-detail.detail-desc-caption {
  text-align: center;
}
.detail-desc-caption h4 {
  color: #35434E;
  font-size: 22px;
  margin-bottom: 5px;
}
.detail-desc-caption span.designation {
  color: #546673;
  font-size: 17px;
}



.detail-status span {
  color: #07b107;
  background: rgba(7, 177, 7,0.2);
}
.detail-desc-caption ul {
  padding: 0;
  margin: 0;
}
.detail-desc-caption ul li {
  padding-bottom: 10px;
  line-height: 1.5;
  font-size: 16px;
  color: #707c88;
  list-style: none;
  display: block;
}
.advance-detail.detail-desc-caption ul li {
  width: 32%;
  text-transform: capitalize;
  margin-top: 20px;
  text-align: center;
  display: inline-block;
}
@media only screen and (min-width: 768px){
  .detail-desc-caption ul li {
    width: 50%;
    display: inline-block;
    float: right;
  }
}
.j-view {
  color: #ff2a63;
}
.j-applied {
  color: #1fb6ff;
}
.j-shared {
  color: #23ce00;
}
.advance-detail.detail-desc-caption ul li strong {
  display: block;
  font-size: 20px;
  font-weight: 600;
}
@media only screen and (min-width: 768px){
  .advance-detail.detail-desc-caption ul li strong {
    font-size: 60px;
    line-height: 1.2;
  }
}

.row.no-padd {
  margin: 0 -15px;
  padding: 0px 15px;
  border-top: 1px solid #ccddea;
}
.detail.pannel-footer {
  padding: 10px 0 10px 0;
  display: table;
  width: 100%;
}
ul.detail-footer-social {
  padding: 0;
  margin: 0;
}
ul.detail-footer-social li {
  display: inline-block;
  padding-right: 10px;
}
ul.detail-footer-social li a i {
  width: 42px;
  height: 42px;
  background: #f1f3f4;
  line-height: 42px;
  text-align: center;
  font-size: 17px;
  border-radius: 2px;
  margin-bottom: 10px;
  transition: all ease-in-out 0.4s;
}
.detail-pannel-footer-btn a.footer-btn {
  padding: 12px 40px;
  margin-left: 15px;
  color: #ffffff;
  font-size: 16px;
  border-radius: 2px;
  margin-bottom: 10px;
  display: inline-block;
  text-transform: capitalize;
}
.detail-pannel-footer-btn a.footer-btn.grn-btn {
  background: #11b719;
}
.detail-pannel-footer-btn a.footer-btn.choose-cover, 
.brows-resume .browse-resume-exp span, 
.detail-pannel-footer-btn a.footer-btn.grn-btn, 
ul.trim-edu-list li:after {
  background: #07b107;
}
.detail-pannel-footer-btn a.footer-btn.blu-btn {
  background: #03a9f4;
}

/********************/
section.full-detail {
  padding: 0em 0 3em 0;
}
.full-card {
  background: #ffffff;
  border-radius: 4px;
  padding-bottom: 30px;
  border: 1px solid #eceff3;
  box-shadow: 0px 0px 10px 0px rgba(64,65,67,0.1);
}
.tool-tab .nav-tabs {
  border-bottom: 1px solid #ddd;
  margin-top: 0;
}
.deatil-tab-employ.tool-tab .nav-tabs>li {
  margin-bottom: 0;
}
.nav.simple.nav-tabs a {
  color: #707c88;
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #e7ecea;
}
.nav.simple.nav-tabs a {
  text-transform: uppercase;
  font-size: 14px;

  padding: 15px 25px;
  border: none;
  border-radius: 0px;
  border-right: 1px solid #ddd;
  margin-right: 0;
}
span.info-bar {
  padding: 3px 5px;
  border: 1px solid #11b719;
  border-radius: 50%;
  background: #daf3da;
  color: #11b719;
  font-size: 12px;
  margin-left: 5px;
}
.deatil-tab-employ .nav-tabs>li>a:focus, 
.deatil-tab-employ .nav-tabs>li>a:hover {
  background: rgba(7, 177, 7,0.15);
  border-color: #11b719;
  color: #11b719;
}
.deatil-tab-employ.tool-tab .nav.simple.nav-tabs li.active a {
  background: rgba(7,177,7,0.15);
  color: #07b107;
  border-color: #07b107;
  border:0;
}

.deatil-tab-employ.tool-tab .tab-content {
  padding: 2em 0 3em 0;
  padding-left: 2em;
  padding-right: 2em;
}

.tab-pane p {
  color: #707c88;
  font-size: 14px;
  line-height: 30px;
}
#address ul.job-detail-des {
  margin: 0;
  padding: 0;
}
ul.job-detail-des li {
  padding: 0;
  color: #66727b;
  list-style: none;
  padding: 10px 12px;
}
ul.job-detail-des li span {
  font-weight: 600;
  margin-left: 20px;
  min-width: 150px;
  display: inline-block;
}
ul.job-detail-des li:nth-child(even) {
  background: #f3f6f8;
}
.mng-company {
  padding: 15px;
  background: #ffffff;
  border-radius: 4px;
  overflow: hidden;
  border-left: 3px solid #ffffff;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.01);
  box-shadow: 0px 0px 10px 0px rgba(88,96,109,0.14);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(88,96,109,0.14);
}
.deatil-tab-employ .mng-company {
  border: 1px solid #e8edf1;
}
.mng-company .mng-company-pic {
  display: table;
  position: relative;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  margin: 1px;
}
.mng-company .mng-company-pic img {
  margin: 0 auto;
  display: table;
  max-width: 85px;
}
.deatil-tab-employ .tab-pane img {
  border-radius: 50%;
}
.mng-company h4 {
  margin-bottom: 5px;
  font-weight: 400;
  color: #35434E;
  font-size: 22px;
  margin-top: 0;
}
.mng-company span.cmp-time {
  color: #636d75;
}
.mng-company .mng-company-location p {
  margin-bottom: 5px;
  font-weight: 400;
  color: #636d75;
  font-size: 16px;
}
.mng-company .mng-company-action i {
  font-size: 20px;
  padding: 0 5px;
}
.mng-company .mng-company-action i.fa-edit {
  color: #11b719;
}
.mng-company .mng-company-action i.fa-trash-o {
  color: #ff9800;
}

.manage-cndt {
  background: #ffffff;
  border-radius: 4px;
  padding: 0px;
  overflow: hidden;
  position: relative;
  margin-bottom: 30px;
  border: 1px solid rgba(88,136,247,0.1);
  box-shadow: 0px 0px 10px 0px rgba(88,96,109,0.14);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(88,96,109,0.14);
}
.deatil-tab-employ .manage-cndt {
  border: 1px solid #e1e7ea;
}
.manage-cndt .cndt-status {
  padding: 4px 25px;
  display: inline-block;
  position: absolute;
  left: 15px;
  top: 15px;
  text-align: left;
  border-radius: 4px;
  font-weight: 500;
  text-transform: capitalize;
}
.manage-cndt .cndt-status.pending {
  background: rgba(255,144,7,0.2);
  color: #ffc107;
}
.manage-cndt .cndt-status.available {
  background: rgba(7,177,7,0.2);
  color: #11b719;
}
.manage-cndt .cndt-caption {
  text-align: center;
  padding: 15px;
  height: 320px;
}
.manage-cndt .cndt-pic {
  display: block;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  margin: 30px auto 15px;
}
.deatil-tab-employ .tab-pane img {
  border-radius: 50%;
}
.manage-cndt .cndt-caption h4 {
  text-transform: capitalize;
  color: #35434e;
  margin-bottom: 5px;
}
.manage-cndt .cndt-caption span {
  color: #07b107;
}
.manage-cndt .cndt-caption p {
  color: #5f707d;
  margin-bottom: 2.5em;
  font-size: 15px;
  margin-top: 10px;
}
.manage-cndt .cndt-profile-btn {
  padding: 15px 0;
  display: block;
  border-top: 1px solid #eef5fb;
  text-align: center;
  font-size: 16px;
  text-transform: capitalize;
  font-weight: 500;
  background: #f2f3f5;
}


.edit-pro label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 700;
}
.edit-pro .form-control {
  height: 50px;
  border: 1px solid #dde6ef;
  margin-bottom: 10px;
  box-shadow: none;
  border-radius: 0;
  background: #fbfdff;
  font-size: 15px;
  color: #445461;
  font-weight: 400;
}
.edit-pro textarea.form-control {
  height: 150px;
}
form.dropzone {
  min-height: 150px;
  color: #01b2ac;
  background: rgba(1, 178, 172,0.07);
  border-color: #01b2ac;
  padding: 20px;
}

form.dropzone.dz-clickable {
  border: 1px dashed #d8e3e8;
  font-size: 20px;
}
.dropzone.dz-clickable {
  cursor: pointer;
}
.dropzone.dz-clickable .dz-message, .dropzone.dz-clickable .dz-message * {
  cursor: pointer;
}
.dropzone .dz-message {
  text-align: center;
  margin: 1em 0 !important;
}
.dz-default i.fa.fa-cloud-upload {
  display: block;
  font-size: 2em;
}



/******************************/
/*******************************/
/* pagination */
.pagination {
  display: table;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;
  margin: 20px auto 0px;
}
.pagination>li {
  display: inline;
  float: right;
}
.pagination>li>a, .pagination>li>span {
  position: relative;
  float: left;
  padding: 12px 20px;
  margin: 5px;
  line-height: 1.42857143;
  color: #8296a2;
  text-decoration: none;
  background-color: #fff;
  border-radius: 2px;
}


.pagination>.active>a, 
.pagination>.active>span, 
.pagination>.active>a:hover, 
.pagination>.active>span:hover, 
.pagination>.active>a:focus, 
.pagination>.active>span:focus, 
.pagination>li>a:hover, 
.pagination>li>a:focus {
  z-index: 2;

  cursor: pointer;
  color: #07b107;
  background-color: rgba(7,177,7,0.1);
  border-color: #07b107;
}
.pagination li:first-child a {
  background: #11b719;
  border: 1px solid #11b719;
  border-radius: 2px;
  color: #ffffff;
}
.pagination li:first-child a {
  background: #07b107;
  border: 1px solid #07b107;
}


.pagination li:last-child a {
  background: #35434e;
  border: 1px solid #35434e;
  border-radius: 2px;
  color: #ffffff;
}
/******************************/
/******************************/
/* jops */
.hiring-jop{
padding-bottom: 30px;
}
.wrap-search-filter {
  padding: 1em 0 1em 0;
  background: #ffffff;
  display: inline-block;
  width: 100%;
  margin-top: 75px;
}
.form-control {
  height: 50px;
  border: 1px solid #dde6ef;
  margin-bottom: 10px;
  box-shadow: none;
  border-radius: 0;
  background: #fbfdff;
  font-size: 17px;
  color: #445461;
  font-weight: 400;
}

.bootstrap-select>.btn {
  width: 100%;
  padding-right: 25px;
  /* height: 40px; */
  height: 50px;
  border: 1px solid #dde6ef;
  margin-bottom: 10px;
  box-shadow: none;
  border-radius: 0;
  background: #fbfdff;
  font-size: 17px;
  color: #445461;
  font-weight: 400;
}

.wrap-search-filter button.btn.btn-primary {
  height: 50px;
  font-size: 17px;
}
.bootstrap-select.btn-group .btn .filter-option {

  font-size: 17px;
  color: #000;

}
.btn-primary{
  padding: 12px 40px;
  margin-left: 15px;
  color: #ffffff;
  font-size: 16px;
  border-radius: 2px;
  margin-bottom: 10px;
  display: inline-block;
  text-transform: capitalize;
}
/****************************/
.download-cv {
  text-align: center;
  color: #07b107;
}
.download-cv i{
  font-size: 140px;
  color: rgba(7,177,7,0.15);

}

/****************************/
/*****************************/
/* publish jop */
.detail-desc {
  padding: 0;
  overflow: visible;
}
.detail-pic {
  display: block;
  width: 140px;
  background: #ffffff;
  border: 1px solid #11b719;
  height: 140px;
  border-radius: 50%;
  margin: 0;
  padding: 9px;
  margin: 0 auto;
  position: relative;
  -webkit-transform: translateY(-50px);
  -o-transform: translateY(-50px);
  transform: translateY(-50px);
}
.detail-pic {
  border: 1px solid #07b107;
}
.js .inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.inputfile + label {
  width: 120px;
  font-size: 1.25rem;
  font-weight: 700;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  padding: 0.625rem 1.25rem;
  height: 120px;
  background: #3db810;
  border-radius: 50%;
}
.inputfile + label {
  background: #07b107;
}
.inputfile + label i {
  line-height: 100px;
  text-align: center;
  font-size: 55px;
  color: #ffffff;
  display: block;
  background: transparent;
  border-radius: 50%;
}
.add-feild .input-group {
  width: 100%;
  margin-bottom: 18px;
}
.input-group .form-control{
    margin-bottom: 0 !important;
}
.add-feild .form-control {
  height: 52px;
  width: 100%;
  color: #707c88;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 15px;
  border-radius: 2px;
  box-shadow: none;
  border: 1px solid #ccddea;
}
.add-feild textarea.form-control {
  border-radius: 4px;
  height: 100px;
  padding: 15px;
}
.detail.pannel-footer {
  padding: 10px 0 10px 0;
  display: table;
  width: 100%;
}
.detail-pannel-footer-btn a.footer-btn {
  padding: 12px 40px;
  margin-left: 15px;
  color: #ffffff;
  font-size: 16px;
  border-radius: 2px;
  margin-bottom: 10px;
  display: inline-block;
  text-transform: capitalize;
}
.detail-pannel-footer-btn a.footer-btn.choose-cover
{
  background: #07b107;
}
section.full-detail {
  padding: 0em 0 3em 0;
}
.bottom-mrg {
  margin-bottom: 3em;
}
.full-detail .input-group {
  margin-bottom: 10px;
  width: 100%;
}
.full-detail .input-group-addon {
  color: #ffffff;
  background: #11b719;
  width: 45px;
  border-radius: 0;
  border-color: #13c313;
  font-size: 18px;
}
.full-detail .input-group-addon {
  background: #07b107;
  border-color: #07b107;
}
.form-control.textarea {
  height: 180px;
  border-radius: 4px;
}
.btn.btn-primary:hover, .btn.btn-primary:focus {
  border: 1px solid #07b107;
  background: #07b107;
}

.btn-success{
  background: #07b107;
  border-color: #07b107;
}

.full-detail .btn-success.publish-btn{
  font-size: 18px;
}




/*************************/
/*************************/
/** search company */
.companies .company-box {
  padding: 15px;
  margin-bottom: 20px;
  background: #ffffff;
  border: 1px solid #e8edf1;
  box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.01);
  box-shadow: 0px 0px 10px 0px rgba(88,96,109,0.14);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(88,96,109,0.14);

}
.company-box .company-img {
  border-radius: 50%;
  margin: 0 auto;
    display: table;
    max-width: 85px;
}

.help-block.form-error{
    display: none;
}