font-face {
	font-family: 'hl';
	src: url('../fonts/hl/HacenLinerScreen.eot');
	src: url('../fonts/hl/HacenLinerScreen.eot') format('embedded-opentype'),
	url('../fonts/hl/HacenLinerScreen.html') format('woff2'),
	url('../fonts/hl/HacenLinerScreen.woff') format('woff'),
	url('../fonts/hl/HacenLinerScreen.ttf') format('truetype'),
	url('../fonts/hl/HacenLinerScreen.svg#HacenLinerScreen') format('svg');
	font-weight:400;
}

@font-face {
	font-family: 'hl';
	src: url('../fonts/hl/HacenLinerScreenBd.eot');
	src: url('../fonts/hl/HacenLinerScreenBd.eot') format('embedded-opentype'),
	url('../fonts/hl/HacenLinerScreenBd.html') format('woff2'),
	url('../fonts/hl/HacenLinerScreenBd.woff') format('woff'),
	url('../fonts/hl/HacenLinerScreenBd.ttf') format('truetype'),
	url('../fonts/hl/HacenLinerScreenBd.svg#HacenLinerScreenBd') format('svg');
	font-weight:700;
}


/*
 * Droid Arabic Kufi (Arabic) http://www.google.com/fonts/earlyaccess
 */
 @font-face {
 	font-family: 'Droid Arabic Kufi';
 	font-style: normal;
 	font-weight: 400;
 	src: url(../fonts/kufi/DroidKufi-Regular.eot);
 	src: url(../fonts/kufi/DroidKufi-Regular.eot?#iefix) format('embedded-opentype'),
 	url(../fonts/kufi/DroidKufi-Regular.woff2) format('woff2'),
 	url(../fonts/kufi/DroidKufi-Regular.woff) format('woff'),
 	url(../fonts/kufi/DroidKufi-Regular.ttf) format('truetype');
 }
 @font-face {
 	font-family: 'Droid Arabic Kufi';
 	font-style: normal;
 	font-weight: 700;
 	src: url(../fonts/kufi/DroidKufi-Bold.eot);
 	src: url(../fonts/kufi/DroidKufi-Bold.eot?#iefix) format('embedded-opentype'),
 	url(../fonts/kufi/DroidKufi-Bold.woff2) format('woff2'),
 	url(../fonts/kufi/DroidKufi-Bold.woff) format('woff'),
 	url(../fonts/kufi/DroidKufi-Bold.ttf) format('truetype');
 }
 @font-face{
 	font-family:'GEFLOW';
 	src:url(../fonts/geflow/GE_FLOW_BOLD.eot);
 	src:url(../fonts/geflow/GE_FLOW_BOLD.eot?#iefix) format("embedded-opentype"),
 	url(../fonts/geflow/GE_FLOW_BOLD.woff) format("woff"),url(font/GE_FLOW_BOLD.ttf) format("truetype"),
 	url(../fonts/geflow/GE_FLOW_BOLD.svg#GE_FLOW_BOLD) format("svg");
 	font-weight:400!important;
 	font-style:normal
 }


 /*Regular*/
 @font-face {
 	font-family: 'STV Regular';
 	src: url('../fonts/stv_font/Regular/STV Regular.eot');
 	src: url('../fonts/stv_font/Regular/STV Regular.eot?#iefix') format('embedded-opentype'),
 	url('../fonts/stv_font/Regular/STV Regular.woff2') format('woff2'),
 	url('../fonts/stv_font/Regular/STV.woff') format('woff'),
 	url('../fonts/stv_font/Regular/STV.svg#STV') format('svg');
 	font-weight: normal;
 	font-style: normal;
 }
 /*Bold*/
 @font-face {
 	font-family: 'STV Bold';
 	src: url('../fonts/stv_font/Bold/STV-Bold.eot');
 	src: url('../fonts/stv_font/Bold/STV-Bold.eot?#iefix') format('embedded-opentype'),
 	url('../fonts/stv_font/Bold/STV-Bold.woff2') format('woff2'),
 	url('../fonts/stv_font/Bold/STV-Bold.woff') format('woff'),
 	url('../fonts/stv_font/Bold/STV-Bold.svg#STV') format('svg');
 	font-weight: bold;
 	font-style: normal;
 }
 /*Light*/
 @font-face {
 	font-family: 'STV light';
 	src: url('../fonts/stv_font/Light/STV-Light.eot');
 	src: url('../fonts/stv_font/Light/STV-Light.eot?#iefix') format('embedded-opentype'),
 	url('../fonts/stv_font/Light/STV-Light.woff2') format('woff2'),
 	url('../fonts/stv_font/Light/STV-Light.woff') format('woff'),
 	url('../fonts/stv_font/Light/STV-Light.svg#STV') format('svg');
 	font-weight: 100;
 	font-style: normal;
 }

 a{font-size: 14px;text-decoration: none !important;color: #79a700;}
 body{

 font-family: "hl";

 }
 .btn,.form-control,label,form{
   font-family: "hl";  
 }
.m-login.m-login--2 .m-login__wrapper .m-login__container .m-login__form .m-login__form-sub .m-checkbox {
    font-size: 14px;
    color: #fff;
}
.m-login.m-login--2 .m-login__wrapper .m-login__container .m-login__form .m-login__form-sub .m-link {
    font-size: 14px;
    color: #fff;
}
.m-login.m-login--2 .m-login__wrapper .m-login__container .m-login__form .m-login__form-action .m-login__btn {
    display: inline-block;
    text-align: center;
    padding: 1.4rem 4rem;
    margin-top: 0.8rem;
    background-color: #ff9c00;
    box-shadow: none !important;
    border: 0;
    font-family: "hl";
    font-size: 16px;
}
.m-login.m-login--2 .m-login__wrapper .m-login__container .m-login__form .m-form__group .form-control {
 
    font-size: 14px;
    font-family: "hl";
        background-color: #fff;
}

.m-login.m-login--2 .m-login__wrapper {

    margin: 0 auto 2rem auto;

}
.m-login.m-login--2 .m-login__wrapper .m-login__container .m-login__head .m-login__title {
    color:#fff;
}


.m-aside-left.m-aside-left--skin-dark {
    background-color: #00734c;
}
 
.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav>.m-menu__item>.m-menu__heading .m-menu__link-text, .m-aside-menu.m-aside-menu--skin-dark .m-menu__nav>.m-menu__item>.m-menu__link .m-menu__link-text {
    color: #fff;
    font-family: "hl";
    font-size: 16px;
}
.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav>.m-menu__item>.m-menu__heading .m-menu__link-icon, .m-aside-menu.m-aside-menu--skin-dark .m-menu__nav>.m-menu__item>.m-menu__link .m-menu__link-icon {
    color: #fff;
}
.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav>.m-menu__item:not(.m-menu__item--parent):not(.m-menu__item--open):not(.m-menu__item--expanded):not(.m-menu__item--active):hover {
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
    background-color: #34bfa3;
}
.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav>.m-menu__item:not(.m-menu__item--parent):not(.m-menu__item--open):not(.m-menu__item--expanded):not(.m-menu__item--active):hover>.m-menu__heading .m-menu__link-text, .m-aside-menu.m-aside-menu--skin-dark .m-menu__nav>.m-menu__item:not(.m-menu__item--parent):not(.m-menu__item--open):not(.m-menu__item--expanded):not(.m-menu__item--active):hover>.m-menu__link .m-menu__link-text {
    color: #fff;
}
.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav>.m-menu__item:not(.m-menu__item--parent):not(.m-menu__item--open):not(.m-menu__item--expanded):not(.m-menu__item--active):hover>.m-menu__heading .m-menu__ver-arrow, .m-aside-menu.m-aside-menu--skin-dark .m-menu__nav>.m-menu__item:not(.m-menu__item--parent):not(.m-menu__item--open):not(.m-menu__item--expanded):not(.m-menu__item--active):hover>.m-menu__link .m-menu__ver-arrow {
    color: #fff;
}
.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav>.m-menu__item:not(.m-menu__item--parent):not(.m-menu__item--open):not(.m-menu__item--expanded):not(.m-menu__item--active):hover>.m-menu__heading .m-menu__link-icon, .m-aside-menu.m-aside-menu--skin-dark .m-menu__nav>.m-menu__item:not(.m-menu__item--parent):not(.m-menu__item--open):not(.m-menu__item--expanded):not(.m-menu__item--active):hover>.m-menu__link .m-menu__link-icon {
    color: #fff;
}
.m-brand.m-brand--skin-dark {
    background: #ff9c00;
}
.m-brand .m-brand__logo .m-brand__logo-wrapper {
    display: inline-block;
    color: #fff;
}
.btn-primary {
    color: #fff;
    background-color: #00734c;
    border-color: #00734c;
}
.m-portlet .m-portlet__head .m-portlet__head-caption .m-portlet__head-title .m-portlet__head-text{
      font-family: "hl";
}
.m-portlet .m-portlet__head {
    border-bottom: 1px solid #ebedf2;
    background-color: #34bfa3;
}
.m-portlet .m-portlet__head .m-portlet__head-text {
    color: #fff;
}
@media (min-width: 1025px){
.m-aside-left--minimize .m-aside-menu.m-aside-menu--skin-dark .m-menu__nav>.m-menu__item>.m-menu__link>.m-menu__link-icon {
    color: #fff;
}
}
.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav>.m-menu__item.m-menu__item--open {

    background-color: #098154;
}
.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav>.m-menu__item.m-menu__item--open>.m-menu__heading .m-menu__link-icon, .m-aside-menu.m-aside-menu--skin-dark .m-menu__nav>.m-menu__item.m-menu__item--open>.m-menu__link .m-menu__link-icon {
    color: #fff;
}
.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav>.m-menu__item.m-menu__item--open>.m-menu__heading .m-menu__link-text, .m-aside-menu.m-aside-menu--skin-dark .m-menu__nav>.m-menu__item.m-menu__item--open>.m-menu__link .m-menu__link-text {
    color: #fff;
}
.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav>.m-menu__item.m-menu__item--open>.m-menu__heading .m-menu__ver-arrow, .m-aside-menu.m-aside-menu--skin-dark .m-menu__nav>.m-menu__item.m-menu__item--open>.m-menu__link .m-menu__ver-arrow {
    color: #fff;
}
.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav>.m-menu__item .m-menu__submenu .m-menu__item>.m-menu__heading .m-menu__link-text, .m-aside-menu.m-aside-menu--skin-dark .m-menu__nav>.m-menu__item .m-menu__submenu .m-menu__item>.m-menu__link .m-menu__link-text {
    color: #fff;
}
.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav>.m-menu__item .m-menu__submenu .m-menu__item:not(.m-menu__item--parent):not(.m-menu__item--open):not(.m-menu__item--expanded):not(.m-menu__item--active):hover>.m-menu__heading .m-menu__link-text, .m-aside-menu.m-aside-menu--skin-dark .m-menu__nav>.m-menu__item .m-menu__submenu .m-menu__item:not(.m-menu__item--parent):not(.m-menu__item--open):not(.m-menu__item--expanded):not(.m-menu__item--active):hover>.m-menu__link .m-menu__link-text {
    color: #ff9c00;
}

@media(max-width:767px){
.m-login.m-login--2 .m-login__wrapper {
    margin: 20% auto 2rem auto;
}
}

.m-login.m-login--2 .m-login__wrapper .m-login__container .m-login__logo {
    text-align: center;
    margin: 0 auto 2rem auto;
}


.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav>.m-menu__item.m-menu__item--active>.m-menu__heading .m-menu__link-text, .m-aside-menu.m-aside-menu--skin-dark .m-menu__nav>.m-menu__item.m-menu__item--active>.m-menu__link .m-menu__link-text {
    color: #ff9c00;
}
.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav>.m-menu__item.m-menu__item--active>.m-menu__heading .m-menu__link-icon, .m-aside-menu.m-aside-menu--skin-dark .m-menu__nav>.m-menu__item.m-menu__item--active>.m-menu__link .m-menu__link-icon {
    color: #ff9c00;
}
.m-widget17 .m-widget17__stats .m-widget17__items .m-widget17__item {
    text-align: center;
    }
    .m-widget17 .m-widget17__stats .m-widget17__items .m-widget17__item .m-widget17__icon {
    display: block;
    margin-right: 0;
    }
    .m-widget17 .m-widget17__stats .m-widget17__items .m-widget17__item .m-widget17__subtitle {
    color: #6f727d;
    margin-right: 0;
}
.m-widget17 .m-widget17__stats .m-widget17__items .m-widget17__item .m-widget17__desc {
    color: #7b7e8a;
    margin-right: 0;
}
.m-portlet .m-portlet__body {
    padding: 2.2rem 10px;
}
.admin-logo {
    width: auto;
    display: inline-block;
    margin-right: 10px;
    border-left: 1px solid #eee;
    padding-left: 20px;
}
.admin-logo img{
 height: 70px;   
}

.m-header-head .clock {
    display: inline-block;
    color: #676767;
    font-size: 20px;
    font-family: Orbitron;
    font-weight: bold;
    /* background-color: #59b447; */
    padding: 5px;
    margin: 12px 20px 0 0;
    border-radius: 5px;
    /* box-shadow: -2px 2px 3px #fff; */
    border: 1px solid;
}
#MyClockDisplay{
letter-spacing: 7px;
    margin-left: 14px;
    float: right;
}
